@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  body {
    line-height: 1.4;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  @mixin monster() {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  @mixin robotoBold() {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  @mixin robotoItalic() {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  @mixin ojuju (){
      font-family: "Ojuju", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
  }

  @mixin btn (){
    padding: 7px 15px;
    background-color:  #2fb5c4;
    color: white;
    border: 0;
    border-radius: 30px;
    font-size: 1.2rem;
  }
  @mixin card (){
    width: 100%;
    padding: 4rem 0;
  }

  @mixin grid ($repeat){
    display: grid;
    grid-template-columns: $repeat;
    gap: 3rem;
   
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
